@import '../../common/colors.scss';

.header{
    width: 100%;
    height: 72px;
    padding: 0px 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: $secondary-color;
}

.logo {
    a{
        color: #E50914;
        font-size: 1.25rem;
        font-weight: 600;
    }
}


.user-image, .user-image img {
    width: 3rem;
    height: 3rem;
    max-width: 100%;
}

.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        justify-content: center;
        width: 70%;

        button {
            padding: 0 8px;
            font-size: 20px;
            cursor: pointer;
            height: 38px;
        }
    }

    input {
        font-size: 18px;
        width: 100%;
        padding: 5px 5px 5px 10px;
        height: 38px;
        outline: none;
    }
}